<!-- Write HTML code here -->
<!DOCTYPE html>
<html lang="en">
<head>
<title>ABC Dashboard Reports</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
</head>
<body>
    <h1 class="text-center" style="font-family:monospace; margin-top:40px"><u>ABC Dashboard Reports</u></h1><br>

    <div class="container" style="display: flex;  flex-direction: column;">
    {% if dashboard %}
    <div class="row" style="display: flex;flex-direction: row;justify-content: space-evenly; align-items: center;">
        
        <div class="row-child">
            {% if dashboard.total_leads %}
            <!-- total leads -->
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>Number Of Leads Signed</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        {{dashboard.total_leads}}
                    </td>
                </tr>
                </tbody>
            </table>
            {% endif %}

            {% if dashboard.sales_rep_of_month %}
            <!-- Sales Representative Of Month-->
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>Sales Representative Of Month</th>
                </tr>
                </thead>
                <tbody>
                    {% for i in dashboard.sales_rep_of_month %}
                <tr>
                    <td>
                        {{i}}
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            {% endif %}

        </div>
        
        <div class="row-child">
            {% if dashboard.list_total_leads %}
            <!-- list of leads -->
            <table class="table  table-striped table-bordered">
                <thead>
                <tr>
                    <th>List of Leads Signed</th>
                </tr>
                </thead>
                <tbody>

                {% for i in dashboard.list_total_leads %}
                <tr>
                    <td>
                        {{i}}
                    </td>
                </tr>
                {% endfor %}
                
                </tbody>
            </table>
            {% endif %}
        </div>  
    </div>

    {% if dashboard.status_report %}
    <div style="border: 2px solid grey; margin-top: 20px;">
        <div class="header" style="display:flex; justify-content: center; border: 2px solid grey;">
            <h2>Leads' Status</h2>
        </div>
        <div class="row" style="display: flex;flex-direction: row;justify-content: space-evenly;">
            
            <div class="row-child" style="flex: 0.4;display: flex;align-content: center;margin: auto;justify-content: center;">
                <table class="table  table-striped table-bordered" style="width: 80%;">
                    <thead>
                    <tr>
                        <th>Status</th>
                        <th>Percentage</th>
                    </tr>
                    </thead>
                    <tbody>
                
                    {% for status,value in dashboard.status_report.items %}
                    <tr>
                        <td>
                            {{status}}
                        </td>
                        <td>
                            {{value}}%
                        </td>
                    </tr>
                    {% endfor %}
                    
                    </tbody>
                </table>
            </div>
            
            <!-- status report -->
            <div class="row-child" style="display: flex;flex: 0.60;justify-content: center;">
                {% block content %}
                <div id="container" style="width: 50%; margin:20px">
                  <canvas id="status-pie-chart"></canvas>
                </div>
              
                <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                <script>
              
                  var config = {
                    type: 'pie',
                    data: {
                      datasets: [{
                        data: {{ data.status|safe }},
                        backgroundColor: ['red', 'blue', 'green'],
                        label: 'Status_Report',
                        borderWidth:5,
                      }],
                      labels: {{ labels.status|safe }}
                    },
                    options: {
                      responsive: true,
                      plugins: {
                          legend: {
                              position: 'top',
                          },
                      title: {
                        display: true,
                        text: 'Status Pie Chart'
                    }
                  }
                },
                  };
              
                //   window.onload = function() {
    
                //   };
              
                </script>
              
              {% endblock %}
            </div>
        </div>
    </div>


{% endif %}

{% if dashboard.stage_report %}
<div style="border: 2px solid grey;margin-top: 20px;">
    <div class="header" style="display:flex; justify-content: center; border: 2px solid grey;">
        <h2>Leads' Stage</h2>
    </div>

    <div class="row" style="display: flex;flex-direction: row;justify-content: space-evenly;">
        <div class="col-4" style="flex: 0.40;margin: auto; justify-content: center;">
            <table class="table  table-striped table-bordered" style="padding-left: 5px ;">
                <thead>
                <tr>
                    <th>Stage </th>
                    <th>Percentage</th>
                </tr>
                </thead>
                <tbody>
            
                {% for stage,value in dashboard.stage_report.items %}
                <tr>
                    <td>
                        {{stage}}
                    </td>
                    <td>
                        {{value}}%
                    </td>
                </tr>
                {% endfor %}
                
                </tbody>
            </table>
        </div>
        <div class="col-6" style="flex: 0.60;justify-content: center;">
            {% block content2 %}
            <div id="container" style="width: 50%; margin:20px">
              <canvas id="stage-pie-chart"></canvas>
            </div>
        
            <script>
          
              var stage_config = {
                type: 'pie',
                data: {
                  datasets: [{
                    data: {{ data.stage|safe }},
                    backgroundColor: ['red', 'blue', 'green','yellow','orange'],
                    label: 'Stage_Report',
                    borderWidth:5,
                  }],
                  labels: {{ labels.stage|safe }}
                },
                options: {
                  responsive: true,
                  plugins: {
                      legend: {
                          position: 'top',
                      },
                  title: {
                    display: true,
                    text: 'Stage Pie Chart'
                }
              }
            },
              };
          
            //   window.onload = function() {
            //     var ctx = document.getElementById('status-pie-chart').getContext('2d');
            //     window.myPie2 = new Chart(ctx, config);
            //     console.log(config)
    
            //     var ctx = document.getElementById('stage-pie-chart').getContext('2d');
            //     window.myPie = new Chart(ctx, stage_config);
            //     console.log(stage_config)
            //   };
          
            </script>
          
          {% endblock %}
        </div>
    </div>    
</div>
{% endif %}

<!-- service report -->
{% if dashboard.service_report %}
<div style="border: 2px solid grey;margin-top: 20px;">
    <div class="header" style="display:flex; justify-content: center; border: 2px solid grey;">
        <h2>Leads' Service</h2>
    </div>

    <div class="row" style="display: flex;flex-direction: row;justify-content: space-evenly;">
        <div class="col-4" style="flex: 0.40;margin: auto; justify-content: center;">
            <table class="table  table-striped table-bordered" style="padding-left: 5px ;">
                <thead>
                <tr>
                    <th>Service </th>
                    <th>Percentage</th>
                </tr>
                </thead>
                <tbody>
            
                {% for service,value in dashboard.service_report.items %}
                <tr>
                    <td>
                        {{service}}
                    </td>
                    <td>
                        {{value}}%
                    </td>
                </tr>
                {% endfor %}
                
                </tbody>
            </table>
        </div>
        <div class="col-6" style="flex: 0.60;justify-content: center;">
            {% block content3 %}
            <div id="container" style="width: 50%; margin:20px">
              <canvas id="service-pie-chart"></canvas>
            </div>
        
            <script>
          
              var service_config = {
                type: 'pie',
                data: {
                  datasets: [{
                    data: {{ data.service|safe }},
                    backgroundColor: ['red', 'blue', 'green','yellow','orange'],
                    label: 'Service_Report',
                    borderWidth:5,
                  }],
                  labels: {{ labels.service|safe }}
                },
                options: {
                  responsive: true,
                  plugins: {
                      legend: {
                          position: 'top',
                      },
                  title: {
                    display: true,
                    text: 'Service Pie Chart'
                }
              }
            },
              };
          
              window.onload = function() {
                var ctx = document.getElementById('status-pie-chart').getContext('2d');
                window.myPie2 = new Chart(ctx, config);
                console.log(config)
    
                var ctx = document.getElementById('stage-pie-chart').getContext('2d');
                window.myPie = new Chart(ctx, stage_config);
                console.log(stage_config)

                var ctx = document.getElementById('service-pie-chart').getContext('2d');
                window.myPie = new Chart(ctx, service_config);
                console.log(service_config)
              };
          
            </script>
          
          {% endblock %}
        </div>
    </div>    
</div>
{% endif %}


<!-- Domain report -->
{% if dashboard.service_report %}
<div style="border: 2px solid grey;margin-top: 20px;">
    <div class="header" style="display:flex; justify-content: center; border: 2px solid grey;">
        <h2>Leads' Domain</h2>
    </div>

    <div class="row" style="display: flex;flex-direction: row;justify-content: space-evenly;">
        <div class="col-4" style="flex: 0.40;margin: auto; justify-content: center;">
            <table class="table  table-striped table-bordered" style="padding-left: 5px ;">
                <thead>
                <tr>
                    <th>Domain </th>
                    <th>Percentage</th>
                </tr>
                </thead>
                <tbody>
            
                {% for domain,value in dashboard.domain_report.items %}
                <tr>
                    <td>
                        {{domain}}
                    </td>
                    <td>
                        {{value}}%
                    </td>
                </tr>
                {% endfor %}
                
                </tbody>
            </table>
        </div>
        <div class="col-6" style="flex: 0.60;justify-content: center;">
            {% block content4 %}
            <div id="container" style="width: 50%; margin:20px">
              <canvas id="domain-pie-chart"></canvas>
            </div>
        
            <script>
          
              var domain_config = {
                type: 'pie',
                data: {
                  datasets: [{
                    data: {{ data.domain|safe }},
                    backgroundColor: ['red', 'blue', 'green','yellow','orange'],
                    label: 'Domain_Report',
                    borderWidth:5,
                  }],
                  labels: {{ labels.domain|safe }}
                },
                options: {
                  responsive: true,
                  plugins: {
                      legend: {
                          position: 'top',
                      },
                  title: {
                    display: true,
                    text: 'Domain Pie Chart'
                }
              }
            },
              };
          
              window.onload = function() {
                var ctx = document.getElementById('status-pie-chart').getContext('2d');
                window.myPie2 = new Chart(ctx, config);
                console.log(config)
    
                var ctx = document.getElementById('stage-pie-chart').getContext('2d');
                window.myPie = new Chart(ctx, stage_config);
                console.log(stage_config)

                var ctx = document.getElementById('service-pie-chart').getContext('2d');
                window.myPie = new Chart(ctx, service_config);
                console.log(service_config)

                var ctx = document.getElementById('domain-pie-chart').getContext('2d');
                window.myPie = new Chart(ctx, domain_config);
                console.log(domain_config)
              };
          
            </script>
          
          {% endblock %}
        </div>
    </div>    
</div>
{% endif %}

{% if dashboard.forecast_revenue %}
<div style="border: 2px solid grey;margin-top: 20px;">
    <div class="header" style="display:flex; justify-content: center; border: 2px solid grey;">
        <h2>Forecast Revenue</h2>
    </div>
    <table class="table  table-striped table-bordered">
        <thead>
        <tr>
            <th>Lead</th>
            <th>Stage</th>
            <th>Annual Revenue</th>
        </tr>
        </thead>
        <tbody>
    
        {% for row in dashboard.forecast_revenue %}
        <tr>
        {% for i in row %}
            <td>
                {{i}}
            </td>
        {% endfor %}
        </tr>
        {% endfor %}
        
        </tbody>
    </table>
</div>
<!-- forecast revenue report -->

{% endif %}


{% if dashboard.potential_loss %}
<div style="border: 2px solid grey;margin-top: 20px;">
    <div class="header" style="display:flex; justify-content: center; border: 2px solid grey;">
        <h2>Potential Loss</h2>
    </div>
    <!-- stage report -->
<table class="table  table-striped table-bordered">
	<thead>
	<tr>
        <th>Leads</th>
        <th>Annual Revenue Lost </th>
	</tr>
	</thead>
	<tbody>

	{% for row in dashboard.potential_loss %}
    <tr>
    {% for i in row %}
        <td>
            {{i}}
        </td>
    {% endfor %}
    </tr>
	{% endfor %}
	
	</tbody>
</table>

</div>
{% endif %}







{% endif %}
</div>

</body>
</html>
